// CSS ALERTAS

.alert
	border-radius 3px
	p
		margin-bottom 0
	.close
		color Branco
		opacity 1
		margin-top -10px
		margin-right -9px
		&:hover
			Hover()

.alertGeral
	.mr-3
		font-size 51px
		opacity 0.2
		
	.alert-heading
		font-weight 400
		
	z-index 9999
	position fixed
	right 20px
	bottom 0