// FONT WEB PADRÃO
h1
h2
h3
h4
h5
h6
body
pre
code
kbd
pre
samp
button
input
optgroup
select
textarea
legend
label
td
th
abbr
blockquote
span
a
p
	font-family fontepadrao
	font-weight 300
	
h1
h2
h3
h4
h5
h6
	text-transform uppercase
	
.h1Titulo
	position absolute
	left 67px
	margin-left 0
	max-width 465px
	overflow-x hidden
	display block
	img.imgMobile
		display none !important


