// CSS FORM
.btn
	border-radius 3px
	border none
	font-weight 500
	outline none
	box-shadow none
	&:hover
		Hover()
.btn-primary
	background-color AzulPadrao
	&:hover
		background-color AzulPadrao
.btn-danger
	background-color VermelhoPadrao	
.btn-success
	background-color VerdePadrao
.form-control
.custom-select
	border 2px solid #cccccc
	border-radius 0
	font-weight 500
	height 45px
.custom-select
	appearance menulist
	