.row
	
	// AQUI COMEÇA O BREADCRUMB DE AÇÕES
	.col-12.breadPadrao.MarginBread
		a.badge.badge-danger(href="#" title="")
			i.far.fa-calendar-check
			| &nbsp; Escolher Evento
		
		span.float-right
			small.badge.badge-primary
				| Passo 1 
			| de 3
	// ------- FIM DO BREADCRUMB DE AÇÕES	

	// AQUI INICIA A PARTE DE CONTEÚDO GERAL
	.col-12.btOpcoesPadrao
		h2.display-4.text-center.text-uppercase
			| Todos os Eventos Cadastrados
		.mx-auto.row.CardEvent
			.col-12.col-sm-6.col-md-4
				.card.shadowPadrao.EventConvCurso
					.card-body
						.media
							.DtEvent.align-self-start.mr-3
								span.h5
									| 05
								br
								span.h6
									| Out
							.media-body
								h5.mt-0 
									| Convivência de Início de Curso
								p.card-subtitle
									| 05 - 20h00 até 08 - 15h00
								p
									| Equipe Nacional
								a.btn.btnEditEvent.badge.badge-secondary(href="Cad-Evento-P1.html", title="Editar Evento Cadastrado")
									i.far.fa-edit
									| Editar Evento
								a.btn.btnOHEvent.btn-success(href="Org-Quarto-P2.html")
									i.fas.fa-bed
									| Organizar Hosped.
			.col-12.col-sm-6.col-md-4
				.card.shadowPadrao.EventConvFamilia
					.card-body
						.media
							.DtEvent.align-self-start.mr-3
								span.h5
									| 16
								br
								span.h6
									| Out
							.media-body
								h5.mt-0 
									| Convivência das Famílias
								p.card-subtitle
									| 16 - 20h00 até 23 - 15h00
								p
									| Equipe Nacional
								a.btn.btnEditEvent.badge.badge-secondary(href="Cad-Evento-P1.html", title="Editar Evento Cadastrado")
									i.far.fa-edit
									| Editar Evento
								a.btn.btnOHEvent.btn-success.disabled(href="#", aria-disabled="true")
									i.far.fa-clock
									| Aguarde Inscrição
			.col-12.col-sm-6.col-md-4
				.card.shadowPadrao.EventConvDoisDois
					.card-body
						.media
							.DtEvent.align-self-start.mr-3
								span.h5
									| 00
								br
								span.h6
									| Mes
							.media-body
								h5.mt-0 
									| Convivência Dois a Dois
								p.card-subtitle
									| 00 - 00h00 até 00 - 00h00
								p
									| Equipe Nacional
								a.btn.btnEditEvent.badge.badge-secondary(href="Cad-Evento-P1.html", title="Editar Evento Cadastrado")
									i.far.fa-edit
									| Editar Evento
								a.btn.btnOHEvent.btn-success.disabled(href="#", aria-disabled="true")
									i.far.fa-clock
									| Aguarde Inscrição
			.col-12.col-sm-6.col-md-4
				.card.shadowPadrao.EventConvVocacinados
					.card-body
						.media
							.DtEvent.align-self-start.mr-3
								span.h5
									| 00
								br
								span.h6
									| Mes
							.media-body
								h5.mt-0 
									| Convivência de Vocacionados
								p.card-subtitle
									| 00 - 00h00 até 00 - 00h00
								p
									| Equipe Nacional
								a.btn.btnEditEvent.badge.badge-secondary(href="Cad-Evento-P1.html", title="Editar Evento Cadastrado")
									i.far.fa-edit
									| Editar Evento
								a.btn.btnOHEvent.btn-success.disabled(href="#", aria-disabled="true")
									i.far.fa-clock
									| Aguarde Inscrição
			.col-12.col-sm-6.col-md-4
				.card.shadowPadrao.EventConvVocacinadas
					.card-body
						.media
							.DtEvent.align-self-start.mr-3
								span.h5
									| 00
								br
								span.h6
									| Mes
							.media-body
								h5.mt-0 
									| Convivência de Vocacionadas
								p.card-subtitle
									| 00 - 00h00 até 00 - 00h00
								p
									| Equipe Nacional
								a.btn.btnEditEvent.badge.badge-secondary(href="Cad-Evento-P1.html", title="Editar Evento Cadastrado")
									i.far.fa-edit
									| Editar Evento
								a.btn.btnOHEvent.btn-success.disabled(href="#", aria-disabled="true")
									i.far.fa-clock
									| Aguarde Inscrição
			.col-12.col-sm-6.col-md-4
				.card.shadowPadrao.EventConvItinerante
					.card-body
						.media
							.DtEvent.align-self-start.mr-3
								span.h5
									| 00
								br
								span.h6
									| Mes
							.media-body
								h5.mt-0 
									| Convivência de Itinerantes
								p.card-subtitle
									| 00 - 00h00 até 00 - 00h00
								p
									| Equipe Nacional
								a.btn.btnEditEvent.badge.badge-secondary(href="Cad-Evento-P1.html", title="Editar Evento Cadastrado")
									i.far.fa-edit
									| Editar Evento
								a.btn.btnOHEvent.btn-success.disabled(href="#", aria-disabled="true")
									i.far.fa-clock
									| Aguarde Inscrição
			.col-12.col-sm-6.col-md-4
				.card.shadowPadrao.EventConvSeminarista
					.card-body
						.media
							.DtEvent.align-self-start.mr-3
								span.h5
									| 00
								br
								span.h6
									| Mes
							.media-body
								h5.mt-0 
									| Convivência de Seminaristas
								p.card-subtitle
									| 00 - 00h00 até 00 - 00h00
								p
									| Equipe Nacional
								a.btn.btnEditEvent.badge.badge-secondary(href="Cad-Evento-P1.html", title="Editar Evento Cadastrado")
									i.far.fa-edit
									| Editar Evento
								a.btn.btnOHEvent.btn-success.disabled(href="#", aria-disabled="true")
									i.far.fa-clock
									| Aguarde Inscrição
			

		
	// ------- FIM DE CONTEÚDO GERAL