.row
	
	// AQUI COMEÇA O BREADCRUMB DE AÇÕES
	.col-12.breadPadrao.MarginBread
		a.badge.badge-danger(href="Org-Quarto-P1.html" title="Evento enc.: Convivência de curso")
			i.far.fa-calendar-check
			| &nbsp; Convivência de Curso
		a.badge.badge-danger(href="Org-Quarto-P2.html" title="Casa: Sagrada Família de Nazaré")
			i.fas.fa-home
			| &nbsp; Casa: CCSFN
		a.badge.badge-danger(href="#" title="Casa que será organizada")
			i.fas.fa-bed
			| &nbsp; Quartos
		
		span.float-right
			small.badge.badge-primary
				| Passo 3 
			| de 3
	// ------- FIM DO BREADCRUMB DE AÇÕES	

	// AQUI INICIA A PARTE DE CONTEÚDO GERAL
	

	.col-12.wrapper--tiles.cf.bottomAlto
		.mx-auto.row
			// INICIO QUARTO 001
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 001
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ001.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ001") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="1.1")
								p Quarto: 001
								p Casa: CCSFN
							li.tile(draggable="true", data-index="1.2")
								p Quarto: 001
								p Casa: CCSFN
							li.tile(draggable="true", data-index="1.3")
								p Quarto: 001
								p Casa: CCSFN
			// --------- FIM QUARTO 001 ---------

			// INICIO QUARTO 002
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 002
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ002.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ002") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="2.1")
								p Quarto: 002
								p Casa: CCSFN
							li.tile(draggable="true", data-index="2.2")
								p Quarto: 002
								p Casa: CCSFN
							li.tile(draggable="true", data-index="2.3")
								p Quarto: 002
								p Casa: CCSFN
			// --------- FIM QUARTO 002 ---------

			// INICIO QUARTO 003
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 003
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ003.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ003") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="3.1")
								p Quarto: 003
								p Casa: CCSFN
							li.tile(draggable="true", data-index="3.2")
								p Quarto: 003
								p Casa: CCSFN
							li.tile(draggable="true", data-index="3.3")
								p Quarto: 003
								p Casa: CCSFN
			// --------- FIM QUARTO 003 ---------

			// INICIO QUARTO 004
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 004
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ004.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ004") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="4.1")
								p Quarto: 004
								p Casa: CCSFN
							li.tile(draggable="true", data-index="4.2")
								p Quarto: 004
								p Casa: CCSFN
							li.tile(draggable="true", data-index="4.3")
								p Quarto: 004
								p Casa: CCSFN
			// --------- FIM QUARTO 004 ---------

			// INICIO QUARTO 005
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 005
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ005.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ005") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="5.1")
								p Quarto: 005
								p Casa: CCSFN
							li.tile(draggable="true", data-index="5.2")
								p Quarto: 005
								p Casa: CCSFN
							li.tile(draggable="true", data-index="5.3")
								p Quarto: 005
								p Casa: CCSFN
			// --------- FIM QUARTO 005 ---------

			// INICIO QUARTO 006
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 006
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ006.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ006") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="6.1")
								p Quarto: 006
								p Casa: CCSFN
							li.tile(draggable="true", data-index="6.2")
								p Quarto: 006
								p Casa: CCSFN
							li.tile(draggable="true", data-index="6.3")
								p Quarto: 006
								p Casa: CCSFN
			// --------- FIM QUARTO 006 ---------

			// INICIO QUARTO 007
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 007
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ007.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ007") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="7.1")
								p Quarto: 007
								p Casa: CCSFN
							li.tile(draggable="true", data-index="7.2")
								p Quarto: 007
								p Casa: CCSFN
							li.tile(draggable="true", data-index="7.3")
								p Quarto: 007
								p Casa: CCSFN
			// --------- FIM QUARTO 007 ---------

			// INICIO QUARTO 008
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 008
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ008.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ008") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="8.1")
								p Quarto: 008
								p Casa: CCSFN
							li.tile(draggable="true", data-index="8.2")
								p Quarto: 008
								p Casa: CCSFN
							li.tile(draggable="true", data-index="8.3")
								p Quarto: 008
								p Casa: CCSFN
			// --------- FIM QUARTO 008 ---------

			// INICIO QUARTO 009
			.col-12.col-sm-6.col-md-4.Quartos
				.card
					.card-header.clearfix.text-left
						.float-left
							small Quarto
							br
							| 009
						.float-right.text-right
							span
								| 1º Andar
							p
								| Sagrada Família de Nazaré
					.card-body
						.alert.alert-primary.d-none(role="alert")
							p.text-center
								| Completar somente com homens

						.alert.alert-dark.d-none(role="alert")
							p.text-center
								| Se possivel incluir presbíteros

						.alert.alert-danger.d-none(role="alert")
							p.text-center
								| Completar somente com mulheres

						.alert.alert-success.d-none(role="alert")
							p.text-center
								| Quarto Completo

						.alert.alert-light(role="alert")
							p.text-center
								| Quarto Vazio

						.alert.alert-warning.d-none
							.custom-control.custom-checkbox
								input#ExcQ009.ExcFilhos.custom-control-input(type="checkbox")
								label.custom-control-label(for="ExcQ009") 
									p Excessão p/  Filhos

						ul.wrapper--assigned-tiles.unstyled-list.cf
							li.tile(draggable="true", data-index="9.1")
								p Quarto: 009
								p Casa: CCSFN
							li.tile(draggable="true", data-index="9.2")
								p Quarto: 009
								p Casa: CCSFN
							li.tile(draggable="true", data-index="9.3")
								p Quarto: 009
								p Casa: CCSFN
			// --------- FIM QUARTO 009 ---------		

		
		.MenuPessoas
			ul.wrapper--unassigned-tiles.unstyled-list.cf
				li.tile.unassigned-tile(draggable="true", data-index="0a") 
					.card.text-white.bg-casal.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome do Esposo
									p.text-uppercase.pEsposa
										| Nome da Esposa
									p.pCarisma
										| Casal Itinerante
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="1a") 
					.card.text-white.bg-presbitero.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome do Padre
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Presbítero
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="2a") 
					.card.text-white.bg-presbitero.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome do Padre
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Presbítero
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="3a") 
					.card.text-white.bg-mulher.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome da Mulher
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Carisma Primitivo
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="4a") 
					.card.text-white.bg-homem.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome do Homem
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Seminarista
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="5a") 
					.card.text-white.bg-homem.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome do Homem
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Carisma Primitivo
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="6a") 
					.card.text-white.bg-mulher.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome da Mulher
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Carisma Primitivo
									p.pEquipe
										| Equipe 1 - AA

				li.tile.unassigned-tile(draggable="true", data-index="7a") 
					.card.text-white.bg-mulher.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome da Mulher
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Carisma Primitivo
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="8a") 
					.card.text-white.bg-casal.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome do Esposo
									p.text-uppercase.pEsposa
										| Nome da Esposa
									p.pCarisma
										| Casal Itinerante
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="9a") 
					.card.text-white.bg-homem.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome do Homem
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Carisma Primitivo
									p.pEquipe
										| Equipe 1 - AA
				li.tile.unassigned-tile(draggable="true", data-index="10a") 
					.card.text-white.bg-presbitero.mb-3
						.card-body
							.media
								img.mr-3(src="assets/Img/Usuarios/user-example-cards-Hosp.jpg", alt="Imagem Ficticia")
								.media-body.text-left
									p.text-uppercase.pNome
										| Nome do Padre
									p.text-uppercase.pEsposa
										| &nbsp;
									p.pCarisma
										| Presbítero
									p.pEquipe
										| Equipe 1 - AA
														
		.FiltroPessoas
			.form-row.align-items-center
				.col-auto.my-1
					label.sr-only(for="") Filtrar visualização de pessoas
					select#SelFiltroVisual.custom-select.mr-sm-2
						option(value="0") Visualizar todos
						option(value="1") Casais
						option(value="2") Presbiteros
						option(value="3") Mulheres Car. Prim.
						option(value="4") Homens Car. Prim.
						option(value="5") Seminarista
						option(value="6") Sem Hospedagem
						option(value="7") Com Hospedagem
				.col-auto.my-1
					label.sr-only(for="InputFiltroVisual") Visualizar por nomes
					input#InputFiltroVisual.form-control.mr-sm-2(type="text", placeholder="Filtrar por nome")
				.col.my-1
					blockquote.blockquote.text-right
						p.mb-0
							| TOTAL: 
							strong.NumVagas 000 Vaga(s) 
							| Disponíveis em 
							strong.NumQuartos 000 Quarto(s)
							| &nbsp;p/ 
							strong.NumPessoas 000 Pessoa(s)

		.ButtonConfirmacao
			button.btn.btn-success.btn-lg.btn-block(type="button", data-toggle="modal" data-target="#ModalFinHosp") 
				i.fas.fa-check-circle
				| &nbsp; Salvar Alterações

				

		
	// ------- FIM DE CONTEÚDO GERAL