// IMPORTANDO TODAS AS PARTES DO CSS

@import "kouto-swiss/node_modules/kouto-swiss"
@import "Partes/Variaveis"
@import "Partes/FuncoesMixins"
// TODOS OS CSSs ESTÃO AQUI ↓
@import "Partes/BlocosEstilos"
// ***************
@import "Partes/Navegadores"
@import "Partes/MediaQueries"