
// MODAL DE FINALIZAÇÃO DE HOSPEDAGEM
#ModalFinHosp.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalFinHosp", aria-hidden="true")
	.modal-dialog.modal-lg(role="document")
		.modal-content
			.modal-body
				.media.SucessoFinalizar
					i.mr-3.far.fa-check-circle
					.media-body
						h5.mt-0 Alteração Confirmada com Sucesso
						span
							| Você pode alterar a hospedagem quando achar melhor.

			.modal-footer
				button.btn.btn-outline-success.btn-lg.btn-block(type="button", onClick= "window.location= 'index.html'") 
					i.fas.fa-home
					| &nbsp;&nbsp;&nbsp; Voltar para Home
// ------- FIM DO MODAL DE FINALIZAÇÃO DE HOSPEDAGEM





