body {
  background: #f5f5f5 url("../Img/Fundo/wallpaper-ressucitado.jpg");
  background-position: center;
  background-size: inherit;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
body,
pre,
code,
kbd,
samp,
button,
input,
optgroup,
select,
textarea,
legend,
label,
td,
th,
abbr,
blockquote,
span,
a,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
.h1Titulo {
  position: absolute;
  left: 67px;
  margin-left: 0;
  max-width: 465px;
  overflow-x: hidden;
  display: block;
}
.h1Titulo img.imgMobile {
  display: none !important;
}
.btn {
  border-radius: 3px;
  border: none;
  font-weight: 500;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  filter: Alpha(50);
}
.btn-primary {
  background-color: #4e67bb;
}
.btn-primary:hover {
  background-color: #4e67bb;
}
.btn-danger {
  background-color: #e00947;
}
.btn-success {
  background-color: #28a745;
}
.form-control,
.custom-select {
  border: 2px solid #ccc;
  border-radius: 0;
  font-weight: 500;
  height: 45px;
}
.custom-select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}
.navCncPadrao {
  background-color: #4e67bb !important;
}
.navCncPadrao h1,
.navCncPadrao li,
.navCncPadrao a {
  color: #fff !important;
}
.navCncPadrao .navbar-brand {
  margin-bottom: 0;
}
.navCncPadrao .navbar-brand small {
  text-transform: none;
  font-size: 21px;
  position: relative;
  top: -1px;
  font-weight: 400;
}
.navCncPadrao .BtnVoltar {
  background-color: #314896 !important;
  color: #fff !important;
}
.navCncPadrao .BtnVoltar:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  filter: Alpha(50);
}
.navCncPadrao .justify-content-end .nav-item .nav-link {
  padding: 0 11px;
  font-size: 11px;
}
.navCncPadrao .justify-content-end .nav-item .nav-link:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  filter: Alpha(50);
}
.navCncPadrao .justify-content-end .nav-item .nav-link i {
  display: block;
  font-size: 227%;
  text-align: center;
}
.navCncPadrao .justify-content-end .nav-item .LinkPerfil {
  background-image: url("../Img/Usuarios/user-example-40x40.jpg");
  width: 40px;
  height: 40px;
  font-size: 0;
  color: transparent !important;
  margin-left: 13px;
  margin-right: 4px;
}
.navCncPadrao .justify-content-end .nav-item .BtnIcon i {
  font-size: 25px;
  margin-top: 7px;
  margin-bottom: -10px;
}
.alert {
  border-radius: 3px;
}
.alert p {
  margin-bottom: 0;
}
.alert .close {
  color: #fff;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  margin-top: -10px;
  margin-right: -9px;
}
.alert .close:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  filter: Alpha(50);
}
.alertGeral {
  z-index: 9999;
  position: fixed;
  right: 20px;
  bottom: 0;
}
.alertGeral .mr-3 {
  font-size: 51px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.alertGeral .alert-heading {
  font-weight: 400;
}
main.container-fluid {
  padding-top: 70px;
}
.shadowPadrao {
  -webkit-box-shadow: 2px 2px 2px 0px #bbb;
  -moz-box-shadow: 2px 2px 2px 0px #bbb;
  box-shadow: 2px 2px 2px 0px #bbb;
}
.bgPadrao {
  background-color: #fff;
  padding: 10px;
}
.badge {
  border: none;
}
.badge-primary {
  background-color: #4e67bb;
}
.badge-secondary {
  background-color: #f5f5f5;
  color: #4e67bb !important;
}
.Quartos {
  margin-bottom: 20px;
}
.Quartos .card {
  background-color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px 0px #bbb;
  -moz-box-shadow: 2px 2px 2px 0px #bbb;
  box-shadow: 2px 2px 2px 0px #bbb;
}
.Quartos .card .card-header {
  background-color: transparent;
  border-bottom: 0;
  padding-bottom: 1px;
}
.Quartos .card .card-header .float-left {
  font-size: 21px;
  padding: 0;
  margin: 0;
  margin-top: -9px;
  line-height: 13px;
  margin-left: -7px;
  text-align: center;
  font-weight: 500;
}
.Quartos .card .card-header .float-left small {
  font-size: 39%;
  text-transform: uppercase;
}
.Quartos .card .card-header .float-right {
  text-transform: none;
  margin-top: -7px;
  margin-right: -8px;
}
.Quartos .card .card-header .float-right p {
  margin: -5px 0 -4px 0;
  padding: 0;
  font-size: 13px;
  line-height: 14px;
}
.Quartos .card .card-header .float-right span {
  font-size: 14px;
  font-weight: 500;
}
.Quartos .card .card-body {
  padding: 1.25rem 1.25rem 0.88rem 1.25rem;
}
.Quartos .card .card-body .alert {
  font-size: 13px;
  margin-bottom: -1px;
  margin-top: -11px;
  margin-left: -6px;
  margin-right: -8px;
  padding: 5px 0 8px 0;
  border: 0;
  border-radius: 2px;
  color: #fff;
}
.Quartos .card .card-body .alert .text-center {
  font-weight: 500;
}
.Quartos .card .card-body .alert-light {
  background-color: #f5f5f5;
  color: #212529;
}
.Quartos .card .card-body .alert-warning {
  padding: 5px 9px 3px 19px;
  color: #212529;
}
.Quartos .card .card-body .alert-warning p {
  text-transform: normal;
  font-weight: 500;
}
.Quartos .card .card-body .alert-primary {
  background-color: #4e67bb;
}
.Quartos .card .card-body .alert-dark {
  background-color: #212529;
}
.Quartos .card .card-body .alert-danger {
  background-color: #dc359b;
}
.Quartos .card .card-body .alert-success {
  background-color: #28a745;
}
.Quartos .card .card-body ul li {
  -webkit-flex-basis: 0;
  -ms-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  width: 31.097460648275106%;
  min-height: 1px;
  color: #dadada;
  text-transform: uppercase;
}
.Quartos .card .card-body ul li p {
  display: none;
}
.Quartos .card .card-body ul li:after {
  content: "VAGO";
  color: #dadada;
  text-align: center;
  height: 18px;
  display: block;
  position: relative;
  top: 50%;
  margin-top: -10px;
  line-height: 16px;
}
.Quartos .card .card-body ul li:last-child {
  margin-right: 0;
}
.Quartos .card .card-body ul li .InfQuarto {
  display: none;
}
.Quartos .card .card-body ul .assigned-tile {
  overflow: hidden;
  border: none;
}
.Quartos .card .card-body ul .assigned-tile .card {
  border: none;
  border-radius: 0;
}
.Quartos .card .card-body ul .assigned-tile .card .card-body {
  padding: 5px;
}
.Quartos .card .card-body ul .assigned-tile .card .card-body .media {
  display: block;
}
.Quartos .card .card-body ul .assigned-tile .card .card-body .media img {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 30px;
  height: 30px;
  display: block;
  margin-top: 10px;
}
.Quartos .card .card-body ul .assigned-tile .card .card-body .media-body {
  display: block;
}
.Quartos .card .card-body ul .assigned-tile .card .card-body .media-body .pNome {
  height: 36px;
  line-height: 10px;
  text-align: center;
  font-size: 9px;
  margin-top: 11px;
  font-weight: 500;
  overflow: hidden;
  display: block;
}
.Quartos .card .card-body ul .assigned-tile .card .card-body .media-body .pEsposa,
.Quartos .card .card-body ul .assigned-tile .card .card-body .media-body .pCarisma,
.Quartos .card .card-body ul .assigned-tile .card .card-body .media-body .pEquipe {
  display: none;
}
.Quartos .card .card-body ul .assigned-tile .bg-mulher {
  background-color: #dc359b !important;
}
.Quartos .card .card-body ul .assigned-tile .bg-presbitero {
  background-color: #212529 !important;
}
.Quartos .card .card-body ul .assigned-tile .bg-casal {
  background-color: #ffc107 !important;
}
.Quartos .card .card-body ul .assigned-tile .bg-homem {
  background-color: #4e67bb !important;
}
.Quartos .card .card-body .ulCasal li.unassigned-tile {
  color: #e8d392;
  background: #fff3cd;
  border: 2px dotted #fff;
}
.Quartos .card .card-body .ulCasal li.unassigned-tile:after {
  content: "OCUPADO";
}
.Quartos .card .card-body .ulCasal .assigned-tile {
  border: none;
}
.MenuPessoas {
  position: fixed;
  bottom: 95px;
  left: 1px;
  padding-left: 10px;
  width: 100%;
  border-top: 2px dashed #adadad;
  background-color: #f5f5f5;
  height: 124px;
  overflow-x: overlay;
  z-index: 10;
}
.MenuPessoas ul {
  height: 119px;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.MenuPessoas ul li {
  width: 16rem;
  display: block;
  height: 85px;
}
.MenuPessoas ul .tile {
  margin-right: 16px;
}
.MenuPessoas ul .tile .card {
  width: 100%;
  border-radius: 3px;
  border: none;
  border-top: 5px solid #f5f5f5;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px 0px #bbb;
  -moz-box-shadow: 2px 2px 2px 0px #bbb;
  box-shadow: 2px 2px 2px 0px #bbb;
}
.MenuPessoas ul .tile .card .card-body .media {
  margin: -13px -9px -14px -15px;
}
.MenuPessoas ul .tile .card .card-body .media img {
  width: 76px;
  height: 84px;
  border-radius: 0;
  margin-top: -12px;
  margin-left: -5px;
  margin-bottom: -6px;
}
.MenuPessoas ul .tile .card .card-body .media .media-body p {
  margin-bottom: 0;
  color: #696969;
}
.MenuPessoas ul .tile .card .card-body .media .media-body .pNome {
  font-size: 14px;
  font-weight: 700;
  margin-top: -2px;
  line-height: 17px;
  max-width: 10rem;
  overflow: hidden;
  height: 21px;
  white-space: nowrap;
}
.MenuPessoas ul .tile .card .card-body .media .media-body .pEsposa {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  margin-top: -5px;
  max-width: 10rem;
  overflow: hidden;
  height: 19px;
  white-space: nowrap;
}
.MenuPessoas ul .tile .card .card-body .media .media-body .pCarisma {
  font-size: 13px;
  font-weight: 500;
  margin-top: 0;
  line-height: 14px;
  max-width: 10rem;
  overflow: hidden;
  height: 18px;
  white-space: nowrap;
}
.MenuPessoas ul .tile .card .card-body .media .media-body .pEquipe {
  font-size: 12px;
  font-weight: 500;
  margin-top: -5px;
  line-height: 15px;
  max-width: 10rem;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
}
.MenuPessoas ul .tile .bg-mulher {
  border-top-color: #dc359b;
}
.MenuPessoas ul .tile .bg-mulher .pNome {
  color: #dc359b !important;
}
.MenuPessoas ul .tile .bg-presbitero {
  border-top-color: #212529;
}
.MenuPessoas ul .tile .bg-presbitero .pNome {
  color: #212529 !important;
}
.MenuPessoas ul .tile .bg-casal {
  border-top-color: #ffc107;
}
.MenuPessoas ul .tile .bg-casal .pNome,
.MenuPessoas ul .tile .bg-casal .pEsposa {
  color: #ffc107 !important;
}
.MenuPessoas ul .tile .bg-homem {
  border-top-color: #4e67bb;
}
.MenuPessoas ul .tile .bg-homem .pNome {
  color: #4e67bb !important;
}
.MenuPessoas ul .DesibleLi {
  cursor: no-drop;
}
.MenuPessoas ul .DesibleLi .card {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.MenuPessoas ul .DesibleLi .InfQuarto {
  position: absolute;
  background-color: #4e67bb;
  border: none;
  border-radius: 3px;
  width: 112px;
  height: 69px;
  display: block;
  top: 32px;
  margin-left: 111px;
  text-align: left;
  padding-left: 11px;
  color: #fff;
}
.MenuPessoas ul .DesibleLi .InfQuarto h5 {
  font-size: 13px;
  margin: 8px 0 0 0;
  font-weight: 500;
}
.MenuPessoas ul .DesibleLi .InfQuarto p {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.MenuPessoas ul .DesibleLi .InfQuarto .close {
  position: absolute;
  top: -7px;
  right: -8px;
  color: #dc3545;
  -ms-filter: initial;
  -webkit-filter: initial;
  filter: initial;
  opacity: initial;
  outline: none;
}
.MenuPessoas ul .Vazio .alert {
  min-width: 373px;
  min-height: 75px;
  margin-top: 16px;
  padding-left: 67px;
  margin-left: 12px;
}
.MenuPessoas ul .Vazio .alert i {
  font-size: 50px;
  position: absolute;
  margin-left: -57px;
}
.MenuPessoas ul .Vazio .alert p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 17px;
  font-size: 16px;
}
.FiltroPessoas {
  position: fixed;
  background-color: #f5f5f5;
  width: 100%;
  left: 0;
  padding: 3px 22px;
  bottom: 53px;
  margin-left: 0;
  margin-right: 0;
  z-index: 9;
}
.FiltroPessoas .custom-select {
  background-image: none;
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.FiltroPessoas .form-control {
  height: 30px;
  padding-bottom: 0;
  padding-top: 0;
}
.FiltroPessoas .blockquote {
  margin-bottom: 0;
}
.FiltroPessoas .blockquote p {
  font-size: 15px;
  font-weight: 500;
}
.FiltroPessoas .blockquote .NumVagas,
.FiltroPessoas .blockquote .NumQuartos,
.FiltroPessoas .blockquote .NumPessoas {
  background-color: #e00947;
  color: #fff;
  font-size: 14px;
  padding: 4px 6px 4px 10px;
  font-weight: 500;
  border-radius: 3px;
  margin-right: 4px;
}
.ButtonConfirmacao {
  position: fixed;
  bottom: 1px;
  left: 0;
  padding: 6px 10px 5px 10px;
  width: 100%;
  border-bottom: 2px dashed #adadad;
  background-color: #f5f5f5;
  z-index: 8;
}
.ButtonConfirmacao .btn {
  font-size: 16px;
}
#MiniCalendario {
  width: 100%;
}
#MiniCalendario .calendar-wrapper {
  width: 100%;
}
#MiniCalendario .calendar-wrapper .calendar-labels span {
  color: #4e67bb;
  font-weight: 700;
}
#MiniCalendario .calendar-wrapper .calendar-top-selector {
  color: #4e67bb;
}
#MiniCalendario .calendar-wrapper .calendar-top-selector .calendar-next,
#MiniCalendario .calendar-wrapper .calendar-top-selector .calendar-prev {
  color: #4e67bb;
}
#MiniCalendario .calendar-wrapper .calendar-date-holder {
  width: 100%;
}
.CardEvent .card {
  border: none;
  border-radius: 0;
  color: #fff;
  background-color: #285374;
  background-image: url("../Img/Fundo/background-event-calendar-2.jpg");
  background-position: center;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 29px;
}
.CardEvent .card .media .DtEvent .h5 {
  margin: 0;
  padding: 0;
  font-size: 33px;
  position: relative;
  top: -5px;
}
.CardEvent .card .media .DtEvent .h6 {
  font-size: 17px;
  position: relative;
  top: -11px;
  text-transform: uppercase;
}
.CardEvent .card .media .media-body {
  color: #fff;
}
.CardEvent .card .media .media-body h5 {
  text-transform: none;
  font-weight: 500;
  font-size: 21px;
  line-height: 20px;
  margin-bottom: 13px;
}
.CardEvent .card .media .media-body .card-subtitle {
  margin-top: -12px;
  margin-bottom: 0;
}
.CardEvent .card .media .media-body .btnEditEvent {
  padding: 6px 7px 7px 7px;
}
.CardEvent .card .media .media-body .btnEditEvent i {
  margin-right: 6px;
}
.CardEvent .card .media .media-body .btnEditEvent:hover {
  color: #fff !important;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.CardEvent .card .media .media-body .btnOHEvent {
  font-size: 11px;
  font-weight: 100;
  border-radius: 39px;
  width: 73px;
  height: 73px;
  white-space: normal;
  line-height: 12px;
  position: relative;
  margin-top: 0;
  margin-right: -10px;
  float: right;
  padding-top: 12px;
  margin-bottom: -8px;
}
.CardEvent .card .media .media-body .btnOHEvent i {
  display: block;
  font-size: 183%;
}
.CardEvent .card .media .media-body .btnOHEvent:hover {
  background-color: #0d521d;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.CardEvent .card .media .media-body .btnOHEvent.disabled {
  color: #212529;
  background-color: #ffc107;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.CardEvent .EventConvCurso {
  background-image: url("../Img/Fundo/Background-img-conv-curso.jpg");
}
.CardEvent .EventConvFamilia {
  background-image: url("../Img/Fundo/Background-img-conv-familia.jpg");
}
.CardEvent .EventConvDoisDois {
  background-image: url("../Img/Fundo/Background-img-conv-dois-dois.jpg");
}
.CardEvent .EventConvItinerante {
  background-image: url("../Img/Fundo/Background-img-conv-itinerante.jpg");
}
.CardEvent .EventConvSeminarista {
  background-image: url("../Img/Fundo/Background-img-conv-seminaristas.jpg");
}
.CardEvent .EventConvVocacinados {
  background-image: url("../Img/Fundo/Background-img-conv-vocacionados.jpg");
}
.CardEvent .EventConvVocacinadas {
  background-image: url("../Img/Fundo/Background-img-conv-vocacionadas.jpg");
}
.listEventos {
  margin-top: 13px;
}
.listEventos .liTitulo {
  background-color: #4e67bb;
  margin: -10px -10px 0 -10px;
  padding: 9px 9px 4px 9px;
}
.listEventos .liTitulo h5 {
  color: #fff;
  text-transform: none;
  font-size: 18px;
  font-weight: 500;
  padding-left: 9px;
  padding-top: 2px;
}
.listEventos .liTitulo h5 i {
  font-size: 77%;
  position: relative;
  top: -2px;
}
.listEventos .liEvento {
  margin: 0 -10px 1px -10px;
  padding: 10px 12px;
  background-color: #285374;
  background-image: url("../Img/Fundo/background-event-calendar.jpg");
  background-position: top;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
.listEventos .liEvento .media-body {
  color: #fff;
}
.listEventos .liEvento .media-body h5 {
  font-weight: 500;
  font-size: 15px;
}
.listEventos .liEvento .media-body a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.listEventos .liEvento .media-body .SDtHs {
  font-size: 12px;
  top: -7px;
  position: relative;
  font-weight: 500;
  display: block;
}
.listEventos .liEvento .media-body .SEq {
  position: relative;
  top: -4px;
  display: block;
}
.listEventos .liEvento .media-body .btn {
  font-size: 11px;
  font-weight: 100;
  border-radius: 39px;
  width: 73px;
  height: 73px;
  white-space: normal;
  line-height: 12px;
  position: relative;
  margin-top: -21px;
  margin-right: 6px;
}
.listEventos .liEvento .media-body .btn i {
  display: block;
  font-size: 183%;
}
.listEventos .liEvento .media-body .btn:hover {
  background-color: #0d521d;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.listEventos .liEvento .media-body .btn:disabled {
  color: transparent;
  background-color: transparent;
}
.listEventos .liEvento:last-child {
  margin-bottom: -10px;
}
.listEventos .EventConvCurso {
  background-image: url("../Img/Fundo/Background-img-conv-curso.jpg");
}
.listEventos .EventConvFamilia {
  background-image: url("../Img/Fundo/Background-img-conv-familia.jpg");
}
.listEventos .EventConvDoisDois {
  background-image: url("../Img/Fundo/Background-img-conv-dois-dois.jpg");
}
.listEventos .EventConvItinerante {
  background-image: url("../Img/Fundo/Background-img-conv-itinerante.jpg");
}
.listEventos .EventConvSeminarista {
  background-image: url("../Img/Fundo/Background-img-conv-seminaristas.jpg");
}
.listEventos .EventConvVocacinados {
  background-image: url("../Img/Fundo/Background-img-conv-vocacionados.jpg");
}
.listEventos .EventConvVocacinadas {
  background-image: url("../Img/Fundo/Background-img-conv-vocacionadas.jpg");
}
#calendar {
  padding: 10px 7px 10px 10px;
}
#calendar .fc-toolbar {
  margin-bottom: 5px;
}
#calendar .fc-toolbar button {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #e00947;
  color: #fff;
  margin-right: 3px;
  font-size: 15px;
  font-weight: 500;
}
#calendar .fc-toolbar button:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  filter: Alpha(50);
}
#calendar .fc-toolbar .fc-center h2 {
  font-size: 21px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-top: 2px;
  color: #4e67bb;
}
#calendar .fc-toolbar .fc-right .fc-state-active {
  background-color: #dcdcdc;
  color: #a5a2a3;
}
#calendar .fc-view-container .fc-month-view table tr td {
  border: none;
}
#calendar .fc-view-container .fc-month-view table .fc-head {
  border: 1px solid #ddd;
  border-bottom: none;
}
#calendar .fc-view-container .fc-month-view table .fc-head .fc-day-header {
  text-align: left;
  padding: 6px 0 0 10px;
  color: #4e67bb;
}
#calendar .fc-view-container .fc-month-view table .fc-head .fc-day-header span {
  font-weight: 500;
}
#calendar .fc-view-container .fc-month-view table .fc-body {
  border: 1px solid #ddd;
  border-top: none;
}
#calendar .fc-view-container .fc-month-view table .fc-body .fc-widget-content {
  cursor: pointer;
}
#calendar .fc-view-container .fc-month-view table .fc-body .fc-widget-content .fc-day-grid-container {
  height: auto !important;
}
#calendar .fc-view-container .fc-month-view table .fc-body .fc-day-grid .fc-bg .fc-day {
  border: 1px solid #ddd;
}
#calendar .fc-view-container .fc-month-view table .fc-body .fc-day-grid .fc-content-skeleton .fc-day-top {
  padding-left: 10px;
}
#calendar .fc-view-container .fc-month-view table .fc-body .fc-day-grid .fc-content-skeleton .fc-day-top .fc-day-number {
  float: left;
}
#calendar .fc-view-container .fc-month-view table .fc-body .fc-day-grid .fc-content-skeleton .fc-event-container .fc-event {
  background-color: #28a745;
  border: none;
  color: #fff;
  border-radius: 11px;
  padding-left: 5px;
}
#calendar .fc-view-container .fc-month-view table .fc-body .fc-day-grid .fc-content-skeleton .fc-event-container .fc-event .fc-time {
  font-weight: normal;
}
#calendar .fc-view-container .fc-month-view table .fc-body .fc-day-grid .fc-content-skeleton .fc-event-container .fc-event .fc-title {
  font-weight: 500;
}
.CalendarioHor {
  margin-top: -14px;
  background-color: #fff;
  padding-bottom: 8px;
  padding-top: 8px;
}
.CalendarioHor h4 {
  text-transform: none;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  margin-left: 22px;
  color: #6c757d;
}
.CalendarioHor a {
  font-size: 38px;
  letter-spacing: -5px;
  font-weight: 400;
  color: #d0d0d0;
  background-color: transparent;
  display: block;
  padding: 18px 25px 21px 14px;
}
.CalendarioHor a small {
  font-size: 25%;
  display: block;
  margin: -13px 0 -16px 0;
  letter-spacing: 8px;
}
.CalendarioHor a small:first-child {
  margin-left: -10px;
}
.CalendarioHor a small:last-child {
  margin-left: 14px;
  text-transform: uppercase;
}
.CalendarioHor a:hover {
  text-decoration: none;
  color: #e00947;
}
.CalendarioHor a i {
  position: absolute;
  color: #f1f1f1;
  margin-top: 8px;
  top: 0;
  right: 0;
  margin-right: 38px;
  font-size: 133%;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.CalendarioHor .active {
  color: #4e67bb;
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px 0px #bbb;
  -moz-box-shadow: 2px 2px 2px 0px #bbb;
  box-shadow: 2px 2px 2px 0px #bbb;
}
.CalendarioHor .active small:first-child {
  margin-left: -6px;
}
.CalendarioHor .active small:last-child {
  margin-left: 38px;
}
.CalendarioHor .active:hover {
  color: #4e67bb;
  cursor: default;
}
.breadPadrao {
  padding-top: 0;
  padding-bottom: 9px;
  background-color: #fff;
  margin-top: 0;
  border-bottom: 1px solid #dadada;
}
.breadPadrao .badge {
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 3px;
  margin-right: 4px;
}
.breadPadrao a.badge:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  filter: Alpha(50);
}
.MarginBread {
  padding-top: 8px;
  padding-bottom: 12px;
  margin-top: -13px;
}
.btOpcoesPadrao .display-4 {
  font-size: 44px;
  margin-top: 21px;
  margin-bottom: 22px;
  color: #6c757d;
}
.btOpcoesPadrao .btn-block {
  border-radius: 3px;
  padding-top: 32px;
  padding-bottom: 38px;
  margin-bottom: 30px;
  background-color: #4e67bb;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-weight: 400;
}
.btOpcoesPadrao .btn-block i {
  font-size: 300%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  filter: Alpha(50);
}
.btOpcoesPadrao .btn-block:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
  filter: Alpha(70);
}
.btOpcoesPadrao .btn-block small {
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: -15px;
}
.btOpcoesPadrao .btn-success {
  background-color: #28a745;
}
.btOpcoesPadrao .active {
  background-image: url("../Img/Fundo/Check-Fundo.png") !important;
  background-repeat: no-repeat;
  background-position: 12px 10px;
  background-color: #28a745;
  outline: none;
}
.btOpcoesPadrao .active:hover {
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.btOpcoesPadrao .btnLine {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btOpcoesPadrao .btnLine i {
  font-size: 110%;
}
.btOpcoesPadrao .btnCCSFN,
.btOpcoesPadrao .btnCCA,
.btOpcoesPadrao .btnCCDM {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  min-height: 187px;
}
.btOpcoesPadrao .btnCCSFN span,
.btOpcoesPadrao .btnCCA span,
.btOpcoesPadrao .btnCCDM span {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 52px;
  margin-left: 37px;
  font-weight: 400;
}
.btOpcoesPadrao .btnCCSFN input[type = "radio"],
.btOpcoesPadrao .btnCCA input[type = "radio"],
.btOpcoesPadrao .btnCCDM input[type = "radio"] {
  display: none;
}
.btOpcoesPadrao .btnCCSFN {
  background-image: url("../Img/SagradaFamiliaNazare.jpg");
}
.btOpcoesPadrao .btnCCSFN.active {
  background-color: #28a745 !important;
  background-image: url("../Img/SagradaFamiliaNazare-Hover.jpg") !important;
}
.btOpcoesPadrao .btnCCA {
  background-image: url("../Img/CasaAngicus.jpg");
}
.btOpcoesPadrao .btnCCA.active {
  background-color: #28a745 !important;
  background-image: url("../Img/CasaAngicus-Hover.jpg") !important;
}
.btOpcoesPadrao .btnCCDM {
  background-image: url("../Img/DomusMariae.jpg");
}
.btOpcoesPadrao .btnCCDM.active {
  background-color: #28a745 !important;
  background-image: url("../Img/DomusMariae-Hover.jpg") !important;
}
.btOpcoesPadrao .radioSelActive .btn-block:hover {
  background-color: #28a745;
}
.btOpcoesPadrao .radioSelActive .active:after {
  to: transform rotate(45deg);
  content: '';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -46px;
  margin-left: -35px;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
  border-top-color: #28a745;
  -webkit-animation: spinner 0.6s linear infinite;
  animation: spinner 0.6s linear infinite;
}
@-moz-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.formFinalizacao {
  background-color: #fff;
  padding: 40px 20px 9px 20px;
  margin-bottom: 20px;
}
.modal .modal-dialog .modal-content {
  background-color: #f5f5f5;
  border: none;
  border-radius: 0;
}
.modal .modal-dialog .modal-content .modal-header {
  background-color: #4e67bb;
  margin: 0;
  padding: 9px 9px 4px 9px;
  border-radius: 0;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #fff;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 10px;
}
.modal .modal-dialog .modal-content .modal-header .close {
  color: #fff;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  margin-top: -12px;
}
.modal .modal-dialog .modal-content .modal-header .close:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  filter: Alpha(50);
}
.modal .modal-dialog .modal-content .modal-body {
  background-color: #f5f5f5;
}
.modal .modal-dialog .modal-content .modal-body .SucessoFinalizar {
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 42px;
  padding-bottom: 48px;
}
.modal .modal-dialog .modal-content .modal-body .SucessoFinalizar i {
  font-size: 127px;
  color: #28a745;
}
.modal .modal-dialog .modal-content .modal-body .SucessoFinalizar .media-body h5 {
  font-size: 40px;
  font-weight: 500;
  text-transform: none;
  top: 9px;
  position: relative;
  color: #28a745;
  line-height: 37px;
}
.modal .modal-dialog .modal-content .modal-body .SucessoFinalizar .media-body span {
  top: 4px;
  position: relative;
  font-size: 17px;
}
.modal .modal-dialog .modal-content .modal-footer {
  padding: 9px 9px 10px 9px;
  border-top: 1px solid #dadada;
}
.modal .modal-dialog .modal-content .modal-footer .btn-outline-success {
  background-color: #28a745;
  color: #fff;
}
@media all and (min-width: 1360px) {
  .ContainerHome,
  .wrapper--tiles,
  .btOpcoesPadrao {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (min-width: 1345px) {
  .Quartos .card .card-body .unstyled-list .tile .close {
    margin-left: 11.2%;
  }
  .btOpcoesPadrao .btn-block {
    white-space: normal;
  }
}
@media all and (max-width: 1276px) {
  .Quartos .card .card-body .unstyled-list .tile .close {
    margin-left: 10%;
  }
}
@media all and (max-width: 1210px) {
  .Quartos .card .card-body ul li {
    width: 30.87920780476372%;
  }
}
@media all and (max-width: 1180px) {
  .btOpcoesPadrao .btn-block {
    font-weight: 500;
    font-size: 0.8125rem;
    white-space: normal;
    line-height: 17px;
  }
  .btOpcoesPadrao .btn-block i {
    margin-bottom: 9px;
  }
  .btOpcoesPadrao .btnLine {
    padding-bottom: 4px;
  }
}
@media all and (max-width: 1058px) {
  .Quartos .card .card-body ul li {
    width: 30.619968347897885%;
  }
}
@media all and (max-width: 998px) {
  .FiltroPessoas .blockquote p {
    font-size: 0;
    color: transparent;
  }
}
@media all and (max-width: 991px) {
  .CalendarioHor {
    padding-top: 23px;
  }
  .CalendarioHor h4 {
    width: 100%;
    margin-left: 0px;
    font-size: 12px;
    margin-top: -19px;
  }
  .CalendarioHor a {
    padding-left: 0px;
    padding-right: 0px;
  }
  .CalendarioHor a i {
    display: none;
  }
}
@media all and (max-width: 958px) {
  .Quartos {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 9px;
  }
  .Quartos .card .card-body ul li {
    width: 30.078109820075394%;
    height: 85px;
  }
  .Quartos .card .card-body ul li:after {
    font-size: 0.75rem;
  }
  .Quartos .card .card-body ul .assigned-tile .card .card-body .media img {
    margin-top: 6px;
  }
}
@media all and (max-width: 942px) {
  .Quartos .card .card-body .unstyled-list .tile .close {
    margin-left: 8%;
  }
}
@media all and (max-width: 929px) {
  .navCncPadrao .navbar-brand small {
    font-size: 0.8125rem;
    font-weight: 500;
    top: -4px;
  }
  .CardEvent .card .media .media-body .btnEditEvent {
    width: 31px;
    overflow: hidden;
    font-size: 0;
    color: transparent !important;
    margin-top: -9px;
  }
  .CardEvent .card .media .media-body .btnEditEvent i {
    color: #4e67bb;
    font-size: 1.125rem;
  }
  .alertGeral {
    bottom: 43px;
  }
  .alertGeral .mr-3 {
    font-size: 2.25rem;
  }
  .alertGeral .media-body .alert-heading {
    font-size: 21px;
  }
  .alertGeral .media-body p {
    font-size: 12px;
    margin-top: -6px;
  }
}
@media all and (max-width: 881px) {
  .FiltroPessoas .blockquote p strong {
    font-size: 0.625rem !important;
  }
}
@media all and (max-width: 860px) {
  .btOpcoesPadrao .btn-block small {
    font-weight: 100;
    line-height: 13px;
  }
}
@media all and (max-width: 800px) {
  main.container-fluid {
    padding-bottom: 60px;
  }
  .navCncPadrao .nav {
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding-top: 8px;
    padding-bottom: 7px;
    -webkit-justify-content: center !important;
    -ms-justify-content: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .navCncPadrao .nav li,
  .navCncPadrao .nav .nav-item {
    width: 19%;
  }
  .navCncPadrao .nav li .nav-link,
  .navCncPadrao .nav .nav-item .nav-link {
    font-size: 0;
    color: transparent !important;
    margin-left: auto;
    margin-right: auto;
  }
  .navCncPadrao .nav li .nav-link i,
  .navCncPadrao .nav .nav-item .nav-link i {
    color: #212529;
    font-size: 1.75rem !important;
    line-height: 37px;
    margin-left: -17px;
  }
  .navCncPadrao .nav li .BtnIcon,
  .navCncPadrao .nav .nav-item .BtnIcon {
    margin-top: -7px;
  }
  .MarginBread {
    margin-top: -19px;
  }
  .CalendarioHor {
    margin-top: -18px;
  }
  .CalendarioHor a {
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: 0px;
    line-height: 16px;
  }
  .CalendarioHor a small {
    font-size: 0.625rem;
    letter-spacing: 4px;
    margin: 0;
    position: relative;
  }
  .btnLine {
    white-space: normal;
  }
  .breadPadrao a.badge {
    width: 29px;
    padding-left: 8px;
  }
  .breadPadrao a.badge i {
    margin-right: 7px;
  }
  .breadPadrao span.float-right {
    font-size: 0.8125rem;
    margin-top: 2px;
  }
  .breadPadrao span.float-right .badge {
    letter-spacing: 4px;
    width: 10px;
    text-indent: -53px;
  }
  .btOpcoesPadrao h2.display-4 {
    font-size: 2.25rem;
    line-height: 33px;
  }
  .btOpcoesPadrao .btn-block {
    font-weight: 100;
    font-size: 17px;
  }
  .btOpcoesPadrao .btn-block i {
    font-size: 264%;
  }
  .btOpcoesPadrao .btnLine i {
    font-size: 1.125rem;
  }
  .btOpcoesPadrao .radioSelActive .btn-block span {
    font-size: 0.9375rem;
  }
  .MenuPessoas {
    height: 95px;
    bottom: 53px;
  }
  .MenuPessoas ul .tile {
    margin-top: 6px;
  }
  .MenuPessoas ul .tile .card .card-body .media {
    margin: -16px -9px -19px -15px;
  }
  .MenuPessoas ul .tile .card .card-body .media img {
    height: 72px;
    margin-top: -9px;
  }
  .MenuPessoas ul .tile .card .card-body .media .media-body .pEquipe,
  .MenuPessoas ul .tile .card .card-body .media .media-body .pCarisma {
    font-size: 0.625rem;
  }
  .MenuPessoas ul .tile .card .card-body .media .media-body .pCarisma {
    line-height: 18px;
  }
  .MenuPessoas ul .tile .card .card-body .media .media-body .pNome {
    font-size: 0.8125rem;
  }
  .MenuPessoas ul .tile .card .card-body .media .media-body .pEsposa {
    height: 15px;
  }
  .bottomAlto {
    padding-bottom: 94px;
  }
  .ButtonConfirmacao {
    background-color: transparent;
    padding: 0;
    width: auto;
    bottom: auto;
    left: auto;
    top: 32px;
    z-index: 1031;
    right: 3px;
    border: none;
    margin-top: 13px;
  }
  .ButtonConfirmacao .btn {
    font-size: 0;
    color: transparent;
    padding: 8px 11px;
    width: 54px;
    height: 54px;
    border-radius: 28px;
  }
  .ButtonConfirmacao .btn:hover {
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
  }
  .ButtonConfirmacao .btn i {
    font-size: 1.5625rem;
    color: #fff;
    margin-top: -1px;
    margin-left: 0px;
  }
  .FiltroPessoas {
    background-color: transparent;
    z-index: 1031;
    width: 56px;
    top: 95px;
    right: 1px;
    left: auto;
    bottom: auto;
    padding-left: 0;
  }
  .FiltroPessoas .col-auto {
    display: none;
  }
  .FiltroPessoas .blockquote p strong {
    width: 54px;
    display: block;
    height: 54px;
    border-radius: 27px !important;
    text-align: center;
    line-height: 12px;
    padding-top: 11px !important;
    padding-left: 6px !important;
    margin-bottom: 3px;
  }
  .Quartos .card .card-body .alert {
    font-size: 11px;
  }
  .Quartos .card .card-body .alert .text-center {
    font-weight: 100;
  }
}
@media all and (max-width: 771px) {
  .Quartos .card .card-body ul li:after {
    font-size: 0.5rem;
  }
}
@media all and (max-width: 767px) {
  .OrderAside {
    -webkit-order: 12;
    -ms-order: 12;
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .OrderAside #MiniCalendario {
    display: none;
  }
  .OrderArticle {
    -webkit-order: 1;
    -ms-order: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .CalendarioHor .justify-content-md-center {
    -webkit-justify-content: center !important;
    -ms-justify-content: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .btOpcoesPadrao .btnCCSFN,
  .btOpcoesPadrao .btnCCA,
  .btOpcoesPadrao .btnCCDM,
  .btOpcoesPadrao .btnCCSFN.active,
  .btOpcoesPadrao .btnCCA.active,
  .btOpcoesPadrao .btnCCDM.active {
    background-position: left;
  }
}
@media all and (max-width: 662px) {
  #calendar .fc-toolbar .fc-left,
  #calendar .fc-toolbar .fc-right,
  #calendar .fc-toolbar .fc-center {
    position: relative;
    z-index: 9;
  }
  #calendar .fc-toolbar .fc-center {
    display: block;
    padding-top: 41px;
    z-index: 2;
  }
}
@media all and (max-width: 575px) {
  .btOpcoesPadrao .btn-block {
    padding-top: 13px;
    padding-bottom: 14px;
    margin-bottom: 11px;
  }
  .btOpcoesPadrao .btn-block small {
    padding-bottom: 14px;
  }
  .btOpcoesPadrao .btnLine {
    padding-bottom: 6px;
  }
  .btOpcoesPadrao .btnCCSFN span,
  .btOpcoesPadrao .btnCCA span,
  .btOpcoesPadrao .btnCCDM span {
    margin-bottom: 41px;
  }
  .labelVazia {
    padding: 0;
    margin: 0;
    height: 9px;
    display: block;
  }
  .Quartos .card .card-body .unstyled-list .tile .close {
    margin-left: 10.5%;
  }
}
@media all and (max-width: 570px) {
  .modal .modal-content .SucessoFinalizar i {
    font-size: 5.3125rem !important;
  }
  .modal .modal-content .SucessoFinalizar .media-body h5 {
    font-size: 1.625rem !important;
    line-height: 24px !important;
  }
  .modal .modal-content .modal-footer .btn-block {
    font-size: 1rem !important;
    font-weight: 100;
    white-space: normal;
    line-height: 18px;
  }
}
@media all and (max-width: 502px) {
  #calendar .fc-view-container {
    font-size: 0.6875rem;
  }
  #calendar .fc-view-container .fc-day-number {
    font-weight: 700;
  }
  #calendar .fc-view-container .fc-day-grid-event {
    font-size: 0.625rem;
  }
}
@media all and (max-width: 482px) {
  .navCncPadrao .navbar-brand img {
    display: none !important;
  }
  .navCncPadrao .navbar-brand img.imgMobile {
    display: inline-block !important;
  }
  .navCncPadrao .nav {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  .navCncPadrao .nav li .LinkPerfil,
  .navCncPadrao .nav .nav-item .LinkPerfil {
    width: 30px;
    height: 30px;
    background-position: top;
    background-size: contain;
  }
  .navCncPadrao .nav li .nav-link i,
  .navCncPadrao .nav .nav-item .nav-link i {
    font-size: 1.4375rem !important;
  }
  .MenuPessoas {
    bottom: 41px;
  }
}
@media all and (max-width: 440px) {
  .modal .modal-content .SucessoFinalizar i {
    display: none;
  }
}
@media all and (max-width: 431px) {
  .Quartos .card .card-body .unstyled-list .tile .close {
    margin-left: 9%;
  }
}
@media all and (max-width: 390px) {
  .alertGeral {
    right: 2px;
  }
  .alertGeral .media-body .alert-heading {
    font-size: 18px;
  }
  .alertGeral .media-body p {
    font-size: 11px;
  }
}
@media all and (max-width: 378px) {
  .navCncPadrao .nav li .nav-link i,
  .navCncPadrao .nav .nav-item .nav-link i {
    font-size: 1.4375rem !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 374px) {
  .CalendarioHor {
    display: none;
  }
  .breadPadrao {
    margin-top: -21px;
    padding-top: 8px;
  }
  .btOpcoesPadrao h2.display-4 {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase !important;
    line-height: 23px;
  }
  .btOpcoesPadrao .formFinalizacao .h5 {
    font-size: 1.0625rem;
  }
}
@media all and (max-width: 343px) {
  .navCncPadrao .navbar-brand small {
    font-size: 0.6875rem;
    font-weight: 600;
  }
  .btOpcoesPadrao .btn-block {
    font-weight: 400;
    font-size: 0.875rem;
  }
}
@media all and (max-width: 336px) {
  #calendar .fc-toolbar .fc-left button,
  #calendar .fc-toolbar .fc-right button {
    font-size: 13px;
  }
}
@media all and (max-width: 329px) {
  .Quartos .card .card-body .unstyled-list .tile .close {
    margin-left: 7%;
  }
}
