// AQUI INICIA O CALENDÁRIO HORIZONTAL
.col-12.CalendarioHor
    .container
        .row.justify-content-md-center
            .d-none.col-1.d-sm-block.text-center
                a(href="#", title="")
                    small
                        | Ter 
                    | 10
                    small
                        |  Out
            .d-none.col-1.d-sm-block.text-center
                a(href="#", title="")
                    small
                        | Qua 
                    | 11
                    small
                        |  Out
            .col-4.col-sm-1.text-center
                a(href="#", title="")
                    small
                        | Qui 
                    | 12
                    small
                        |  Out
            .col-4.col-sm-4.text-center
                h4
                    | Dia Selecionado
                a.active(href="#", title="Dia Selecionado", disabled)
                    small
                        | Sex 
                    | 13
                    i.far.fa-calendar-alt
                    small
                        |  Out

            .col-4.col-sm-1.text-center
                a(href="#", title="")
                    small
                        | Sab 
                    | 14
                    small
                        |  Out
            .d-none.col-1.d-sm-block.text-center
                a(href="#", title="")
                    small
                        | Dom 
                    | 15
                    small
                        |  Out
            .d-none.col-1.d-sm-block.text-center
                a(href="#", title="")
                    small
                        | Seg 
                    | 16
                    small
                        |  Out
// ------- FIM DO CALENDÁRIO HORIZONTAL