/* INDICE DE USO CSS
 
 - TAGS GERAIS 
 - FONTES
 - FORMULARIO
 - TABELAS
 - NAVS
 - ALERTAS
 - CLASSES E IDS GERAIS 
 - MODAL DAS PÁGINAS 
 - VERSÕES BROWSERS
 - VERSÕES RESPONSIVAS

------------------ */

/* TAGS GERAIS */
body
	background CinzaPadrao url(UrlImagensPastaFundo + 'wallpaper-ressucitado.jpg')
	background-position center
	background-size inherit
	background-attachment fixed
	background-repeat no-repeat
	
/* ------------------ */

/* FONTES */
@import "Blocos/Fonts"
/* ------------------ */
/* FORMULARIO */
@import "Blocos/Form"
/* ------------------ */
/* TABELAS */
@import "Blocos/Table"
/* ------------------ */
/* NAVS */
@import "Blocos/Navs"
/* ------------------ */
/* ALERTAS */
@import "Blocos/Alerts"
/* ------------------ */
/* CLASSES E IDS GERAIS */
@import "Blocos/CIGerais"
/* ------------------ */
/* MODAL DAS PÁGINAS */
@import "Blocos/Modal"
/* ------------------ */