// MEDIAQUERIES PARA AS RESOLUÇÕES MAIS BAIXAS...

+media-query( all, min-width 1360px )
	.ContainerHome
	.wrapper--tiles
	.btOpcoesPadrao
		max-width 1360px
		margin-left auto
		margin-right auto
	
+media-query( all, min-width 1345px )
	.Quartos
		.card
			.card-body
				.unstyled-list
					.tile
						.close
							margin-left 11.2%
	.btOpcoesPadrao
		.btn-block			
			white-space normal
			
+media-query( all, max-width 1276px )
	.Quartos
		.card
			.card-body
				.unstyled-list
					.tile
						.close
							margin-left 10%

+media-query( all, max-width 1210px )
	.Quartos
		.card
			.card-body
				ul
					li
						width percent( 105.4px, 341.33px )
					

+media-query( all, max-width 1180px )
	.btOpcoesPadrao
		.btn-block
			font-weight 500
			font-size 0.8125rem
			white-space normal
			line-height 17px
			i
				margin-bottom 9px
		.btnLine
			padding-bottom 4px
			
+media-query( all, max-width 1058px )
	.Quartos
		.card
			.card-body
				ul
					li
						width percent( 89px, 290.66px )

+media-query( all, max-width 998px )
	.FiltroPessoas
		.blockquote
			p
				font-size 0
				color transparent			

+media-query( all, max-width 991px )
	.CalendarioHor
		padding-top 23px
		h4
			width 100%
			margin-left 0px
			font-size 12px
			margin-top -19px			
		a
			padding-left 0px
			padding-right 0px
			i
				display none

+media-query( all, max-width 958px )
	.Quartos
		padding-left 5px
		padding-right 5px
		margin-bottom 9px
		.card
			.card-body
				ul
					li
						width percent( 77.40px, 257.33px )
						height 85px
						&:after
							font-size 0.75rem
					.assigned-tile
						.card
							.card-body
								.media
									img
										margin-top 6px

+media-query( all, max-width 942px )
	.Quartos
		.card
			.card-body
				.unstyled-list
					.tile
						.close
							margin-left 8%

+media-query( all, max-width 929px )
	.navCncPadrao 
		.navbar-brand 
			small
				font-size 0.8125rem
				font-weight 500
				top -4px
	.CardEvent
		.card
			.media
				.media-body
					.btnEditEvent
						width 31px
						overflow hidden
						font-size 0
						color transparent !important
						margin-top -9px
						i
							color AzulPadrao
							font-size 1.125rem
	.alertGeral
		bottom 43px
		.mr-3
			font-size 2.25rem
		.media-body
			.alert-heading
				font-size 21px
			p
				font-size 12px
				margin-top -6px			
				
+media-query( all, max-width 881px )
	.FiltroPessoas
		.blockquote
			p
				strong
					font-size 0.625rem !important
				
+media-query( all, max-width 860px )
	.btOpcoesPadrao
		.btn-block
			small
				font-weight 100
				line-height 13px
				
+media-query( all, max-width 800px )
	main.container-fluid
		padding-bottom 60px
	.navCncPadrao 
		.nav
			position fixed
			bottom 0px
			background-color Branco
			width 100%
			left 0
			padding-top 8px
			padding-bottom 7px
			justify-content center !important
			li
			.nav-item
				width 19%
				.nav-link
					font-size 0
					color transparent  !important
					margin-left auto
					margin-right auto
					i
						color PretoTexto
						font-size 1.75rem !important
						line-height 37px
						margin-left -17px
				.BtnIcon
					margin-top -7px
	.MarginBread
		margin-top -19px
	.CalendarioHor
		margin-top -18px
		a
			font-size 1.5rem
			padding-top 0
			padding-bottom 0px
			line-height 16px
			small
				font-size 0.625rem
				letter-spacing 4px
				margin 0
				position relative
	.btnLine
		white-space normal
	.breadPadrao
		a.badge
			width 29px
			padding-left 8px
			i
				margin-right 7px
		span.float-right
			font-size 0.8125rem
			margin-top 2px
			.badge
				letter-spacing 4px
				width 10px
				text-indent -53px
				
	.btOpcoesPadrao
		h2.display-4
			font-size 2.25rem
			line-height 33px
		.btn-block
			i
				font-size 264%
			font-weight 100
			font-size 17px
		.btnLine
			i
				font-size 1.125rem
		.radioSelActive
			.btn-block
				span
					font-size 0.9375rem
	
	.MenuPessoas
		height 95px
		bottom 53px
		ul
			.tile
				margin-top 6px
				.card
					
					.card-body
						.media
							margin -16px -9px -19px -15px
							img
								height 72px
								margin-top -9px
							.media-body
								.pEquipe
								.pCarisma
									font-size 0.625rem
								.pCarisma
									line-height 18px
								.pNome
									font-size 0.8125rem
								.pEsposa
									height 15px
	.bottomAlto
		padding-bottom 94px

	.ButtonConfirmacao
		background-color transparent
		padding 0
		width auto
		bottom auto
		left auto
		top 32px
		z-index 1031
		right 3px
		border none
		margin-top 13px
		.btn
			font-size 0
			color transparent
			padding 8px 11px
			width 54px
			height 54px
			border-radius 28px
			&:hover
				opacity 1
			i
				font-size 1.5625rem
				color Branco
				margin-top -1px
				margin-left 0px
				
	.FiltroPessoas
		background-color transparent
		z-index 1031
		width 56px
		top 95px
		right 1px
		left auto
		bottom auto
		padding-left 0
		.col-auto
			display none
		.blockquote
			p
				strong
					width 54px
					display block
					height 54px
					border-radius 27px !important
					text-align center
					line-height 12px
					padding-top 11px !important
					padding-left 6px !important
					margin-bottom 3px
	.Quartos		
		.card
			.card-body
				.alert
					font-size 11px
					.text-center
						font-weight 100
					
		
+media-query( all, max-width 771px )
	.Quartos		
		.card
			.card-body
				ul
					li						
						&:after
							font-size 0.5rem

+media-query( all, max-width 767px )
	.OrderAside
		order 12
		#MiniCalendario
			display none						
	.OrderArticle
		order 1
	.CalendarioHor
		.justify-content-md-center
			justify-content center !important
	
	.btOpcoesPadrao
		.btnCCSFN
		.btnCCA
		.btnCCDM
		.btnCCSFN.active
		.btnCCA.active
		.btnCCDM.active
			background-position left
		
+media-query( all, max-width 662px )
	#calendar
		.fc-toolbar
			.fc-left
			.fc-right
			.fc-center
				position relative
				z-index 9
			.fc-center
				display block
				padding-top 41px
				z-index 2
				
+media-query( all, max-width 575px )
	.btOpcoesPadrao
		.btn-block
			padding-top 13px
			padding-bottom 14px
			margin-bottom 11px
			small
				padding-bottom 14px
		.btnLine
			padding-bottom 6px
		.btnCCSFN
		.btnCCA
		.btnCCDM
			span
				margin-bottom 41px
	.labelVazia
		padding 0
		margin 0
		height 9px
		display block

	.Quartos
		.card
			.card-body
				.unstyled-list
					.tile
						.close
							margin-left 10.5%
		
+media-query( all, max-width 570px )
	.modal
		.modal-content
			.SucessoFinalizar
				i
					font-size 5.3125rem !important
				.media-body
					h5
						font-size 1.625rem !important
						line-height 24px !important
			.modal-footer
				.btn-block
					font-size 1rem !important
					font-weight 100
					white-space normal
					line-height 18px
					
			
+media-query( all, max-width 502px )
	#calendar
		.fc-view-container
			font-size 0.6875rem
			.fc-day-number
				font-weight 700
			.fc-day-grid-event
				font-size 0.625rem
				
		
+media-query( all, max-width 482px )
	.navCncPadrao
		.navbar-brand
			img
				display none !important
			img.imgMobile
				display inline-block !important
		.nav
			padding-top 5px
			padding-bottom 0px
			li
			.nav-item
				.LinkPerfil
					width 30px
					height 30px
					background-position top
					background-size contain
				.nav-link
					i						
						font-size 1.4375rem !important
	.MenuPessoas
		bottom 41px

+media-query( all, max-width 440px )		
	.modal
		.modal-content
			.SucessoFinalizar
				i
					display none
					
+media-query( all, max-width 431px )
	.Quartos
		.card
			.card-body
				.unstyled-list
					.tile
						.close
							margin-left 9%
							
+media-query( all, max-width 390px )
	.alertGeral
		right 2px
		.media-body
			.alert-heading
				font-size 18px
			p
				font-size 11px

+media-query( all, max-width 378px )
	.navCncPadrao 
		.nav
			li
			.nav-item
				.nav-link
					i
						font-size 1.4375rem !important
						margin-left auto
						margin-right auto

+media-query( all, max-width 374px )					
	.CalendarioHor
		display none
	.breadPadrao
		margin-top -21px
		padding-top 8px
	.btOpcoesPadrao
		h2.display-4
			font-size 1.25rem
			font-weight 400
			text-transform uppercase !important
			line-height 23px
		.formFinalizacao
			.h5
				font-size 1.0625rem
	
+media-query( all, max-width 343px )
	.navCncPadrao 
		.navbar-brand 
			small
				font-size 0.6875rem
				font-weight 600
	.btOpcoesPadrao
		.btn-block
			font-weight 400
			font-size 0.875rem
				
+media-query( all, max-width 336px )
	#calendar
		.fc-toolbar
			.fc-left
			.fc-right			
				button
					font-size 13px

+media-query( all, max-width 329px )
	.Quartos
		.card
			.card-body
				.unstyled-list
					.tile
						.close
							margin-left 7%

	
				
		
		
							

		