/* VERSÕES BROWSERS */

/* SOMENTE IE/Edge ≥ 10 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
*/

/* SOMENTE FIREFOX 
@-moz-document url-prefix()
*/	

/* SOMENTE CHROME
@media screen and (-webkit-min-device-pixel-ratio:0)
*/